body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.header, .hero, .info, .cards, .quote, .action {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
	background-color: #1F2937;
	padding: 0 16px;
	color: #f9f1f8;
}

.header .logo {
	font-size: 24px;
	font-weight: 900;
 }

.header ul {
	list-style: none;
	display: flex;
	column-gap: 16px;
	padding: 0;
	margin: 0;
	font-weight: 300;
}

li {
	position: relative;
}

li::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: lightblue;
  }

.heroContainer, .headerContainer {
	background-color: #1F2937;
}

.hero {
	color: #f9f1f8;
	display: flex;
	padding: 16px;
	padding-bottom: 64px;
	column-gap: 16px;
}

.hero > .bio {
	flex: 1;
}

.hero > .bio > h1 {
	font-size: 48px;
	font-weight: 900;
	margin: 16px 0;
}

.hero > .bio > p {
	font-size: 18px;
	color: #e5e7eb;
	margin-top: 0;
}

.hero > .bio > button {
	background-color: #3882f5;
	color: #e5e7eb;
	padding: 12px 32px;
	border-radius: 8px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #5b749d;
}

.hero > .heroImage {
	flex: 2 1 0;
	background-color: gray;
	border-radius: 16px ;
	margin: 16px 32px;
}

.info > h2 {
	display: flex;
	justify-content: center;
	margin: 46px 0;
	font-size: 36px;
	font-weight: bolder;
	color: #1F2937;
}

.cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.card {
	height: 300px;
	width: 200px;
	padding: 10px;
	text-align: center;
}

.card > .img {
	border: #3882f5 4px solid;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	border-radius: 10px;
}

.card > .cardD {
	width: 150px;
	margin: 16px auto;
	font-family: Roboto, sans-serif;
	color: #1F2937;
}

.quoteContainer {
	background-color: #e5e7eb;
	color: #1F2937;
}

.quote {
	padding: 80px 20px;
}

.quote > .quoteText {
	max-width: 1000px;
	margin: 0 auto;
	font-family: Robot, sans-serif;
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
}

.quote > .author {
	max-width: 1000px;
	margin: 24px auto;
	margin-bottom: 0;
	display: flex;
	justify-content: end;
	font-weight: bolder;
	font-size: 24px;
}

.action {
	background-color: #3882f5;
	color: #f9f1f8;
	display: flex;
	padding: 42px;
	justify-content: space-between;
	align-items: center;
	margin: 64px auto;
	border-radius: 8px;
}

.action > button {
	height: fit-content;
	background-color: #3882f5;
	color: #eee;
	padding: 12px 32px;
	border-radius: 8px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 700;
	border: 2px solid #eee;
}

.fotter {
	width: 100%;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1F2937;
	color: #e5e7eb;
}